# Ignore everything
*

# But don't ignore the docs directory
!/docs

# Don't ignore .md files in the docs directory and its subdirectories
!/docs/**/*.md

# Ignore everything else in docs subdirectories
/docs/**/
